/build
**/checkdisk
/multiraft-monkey-testing
*safe_to_delete*
*safe-to-delete*
out.txt
coverage.out
coverage.txt
*.pprof
*.swp
*.tmp
*.o
*.a
*-fuzz.zip
*.bin
*.win
gitversion.go
drummer-data
nodehost-data
