/build
/cleanup.sh
/deploy.sh
/helloworld
/raftkv
/raftkvbench
/checker
/multiraft-ioei-testing
/multiraft-monkey-testing
/drummer-monkey-testing
/dragonboat-cppwrapper-tests
**/dragonboat-drummer-cmd
**/dragonboat-drummer-server
**/dragonboat-nodehost-server
**/kvstore-example-client
**/porcupine-checker-bin
**/logdb-checker-bin
*safe_to_delete*
drummer-mt-out.txt
out.txt
*.pprof
*.swp
*.tmp
*.so
*.so.*
*.o
*.a
*-fuzz.zip
gitversion.go
test.bin
test-*.bin
drummer-lcm.edn
drummer-lcm.jepsen
drummer-data
nodehost-data
example-data
example-helloworld
internal/tests/cppkv/github.com/
internal/tests/cppkv/kv.pb.cc
internal/tests/cppkv/kv.pb.h
libdragonboat.h
/snapbench
