/build
/cleanup.sh
/deploy.sh
/helloworld
/raftkv
/raftkvbench
/checker
/checkdisk
/multiraft-ioei-testing
/multiraft-monkey-testing
/drummer-monkey-testing
/dragonboat-cppwrapper-tests
**/kvstore-example-client
**/porcupine-checker-bin
**/logdb-checker-bin
*safe_to_delete*
*safe-to-delete*
drummer-mt-out.txt
out.txt
coverage.out
*.pprof
*.swp
*.tmp
*.so
*.so.*
*.o
*.a
*-fuzz.zip
*.bin
gitversion.go
drummer-lcm.edn
drummer-lcm.jepsen
drummer-data
nodehost-data
example-data
example-helloworld
internal/tests/cppkv/github.com/
internal/tests/cppkv/kv.pb.cc
internal/tests/cppkv/kv.pb.h
libdragonboat.h
/snapbench
